*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-image: url("Img/background.png");
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Lato', sans-serif;
}

.content{
    padding-top: 80px;
    max-width: 800px;
    text-align: center;
    color: white;
}

.logo{
    margin-top: 20px;
    width: 150px;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
  }
  
  h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .inputs {
    display: block;
    width: 80%;
    border: none;
    padding: 16px;
    margin: 0 auto 10px auto;
    border-radius: 6px;
    font-size: 20px;
  }

  .aceita{
    display: block;
    width: 80%;
    margin: 10px auto;
  }

  .button {
    width: 80%;
    margin: 30px auto;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border: none;
    padding: 15px;
    font-size: 20px;
    border-radius: 6px;
  }
  
  .button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062
  }